/* TODO: How to decouple? */
:root {
  --theme-primary: #f06b50;
  --theme-secondary: white;
  --theme-text-on-primary: var(--theme-secondary);
  --theme-text-on-secondary: #121212;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: var(--theme-primary);
}

*, *::before, *::after {
  outline-color: var(--theme-secondary);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
